[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
numpy = "*"
opencv-python = "*"

[dev-packages]
pytest = "*"
"e1839a8" = {editable = true, path = "."}
pipenv = "*"

[requires]
python_version = "3.6"
