[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
numpy = "*"
opencv-python = "*"

[dev-packages]
pytest = "*"
pipenv = "*"
twine = "*"

[requires]
python_version = "3.6"
