certifi==2018.1.18
-e git+https://flyfj@bitbucket.org/flyfj/deepimage.git@f957d85ae3d9eb32c8dd50d5e699732fb4780467#egg=deepimage
numpy==1.14.1
-e git+https://flyfj@bitbucket.org/flyfj/deepimage.git@f957d85ae3d9eb32c8dd50d5e699732fb4780467#egg=owlimage
Pillow==5.0.0
